/* CSS RESET. standardizes cross-browser rendering on common elements, neutralizing browsers' built-in stylesheets. */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td, iframe {
  margin: 0;
  padding: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldset, img {
  border: 0; }

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal; }

ol, ul {
  list-style: none; }

caption, th {
  text-align: left; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

q:before, q:after {
  content: ""; }

abbr, acronym {
  border: 0; }

a, img a {
  border: 0 none;
  margin: 0;
  padding: 0; }

/* End RESET. */
body {
  background: #353436 url(../images/texture.jpg);
  border-top: 6px solid #e1483f;
  color: #dedede;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  text-align: center; }
  body h1 {
    background: url(../images/fisting.png) no-repeat center top;
    font-size: 22px;
    font-weight: 600;
    margin: 50px 0 0 0;
    padding-top: 200px; }
  body h2 {
    margin: 10px 0 15px;
    opacity: 0.7; }
  body nav {
    margin-top: 30px; }
    body nav a {
      transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -webkit-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      color: #d9d9d9;
      font-size: 14px;
      margin: 0 12px;
      text-decoration: none; }
      body nav a i {
        transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        color: #e1483f;
        font-size: 18px;
        margin-right: 5px; }
        body nav a i.icon-facebook {
          color: #2bbdb7; }
        body nav a i.icon-twitter {
          color: #68bfeb; }
      body nav a:hover {
        color: white; }
        body nav a:hover i {
          color: #fdbb33; }
  body #speakers h2 {
    font-size: 20px;
    margin: 40px 0 20px; }
  body #speakers ul li {
    margin: 0 15px 10px;
    display: inline-block;
    vertical-align: baseline;
    zoom: 1;
    *display: inline;
    *vertical-align: auto; }
    body #speakers ul li img {
      transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -webkit-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      border-radius: 100%;
      border: 1px solid black; }
      body #speakers ul li img.highlight {
        box-shadow: 0 0 1px 5px #68bfeb; }
    body #speakers ul li h3 {
      font-size: 15px;
      margin-bottom: 3px; }
      body #speakers ul li h3 a {
        color: white;
        text-decoration: none; }
        body #speakers ul li h3 a i {
          color: #68bfeb;
          margin-right: 5px; }
        body #speakers ul li h3 a:hover {
          color: #68bfeb; }
          body #speakers ul li h3 a:hover i {
            color: white; }
    body #speakers ul li h4 {
      font-size: 12px;
      opacity: 0.8; }
  body a[href^=tel] {
    color: inherit;
    text-decoration: none; }
