@import 'reset.sass'
@import 'colors.sass'
@import 'fonts.sass'
@import 'mixins.sass'


body
  background: $gray url(../images/texture.jpg)
  border-top: 6px solid $red
  color: #dedede
  font-family: 'Open Sans', Arial, sans-serif
  font-size: 14px
  text-align: center

  h1
    background: url(../images/fisting.png) no-repeat center top
    font-size: 22px
    font-weight: 600
    margin: 50px 0 0 0 
    padding-top: 200px

  h2  
    margin: 10px 0 15px
    opacity: 0.7

  nav
    margin-top: 30px

    a
      @include transition(all, 0.5s)
      color: #d9d9d9
      font-size: 14px
      margin: 0 12px
      text-decoration: none

      i
        @include transition(all, 0.5s)
        color: $red
        font-size: 18px
        margin-right: 5px

        &.icon-facebook
          color: #2bbdb7

        &.icon-twitter
          color: #68BFEB

      &:hover
        color: white
        i
          color: $yellow



  // Avoids phone numbers from changing color in iOS.
  a[href^=tel]
    color: inherit
    text-decoration: none


