!!! 5
%html{:lang => 'en'}
  %head
    %title RubyConf 2013
    %meta{:charset => "UTF-8"}
    %meta{:name => "description", :content => ""}
    %meta{:name => "keywords", :content => ""}
    %link{:rel => 'stylesheet', :href => 'stylesheets/rubyconf-style.css'}
    %link{:rel => 'stylesheet', :href => 'stylesheets/font-awesome.min.css'}
    %link{:href => "http://fonts.googleapis.com/css?family=Open+Sans:400,500,600,700", :rel => "stylesheet", :type => "text/css"}
    %script{:src => 'javascripts/jquery.1.10.1.min.js'}
    %script{:src => 'javascripts/jquery.easing.1.3.js'}
    %script{:src => 'javascripts/html5shiv.js'}
    %script{:src => 'javascripts/placeholders.min.js'}
    %script{:src => 'javascripts/apps.js'}
    /[if (gte IE 6)&(lte IE 8)]
      <script type="text/javascript" src="javascripts/jquery.pseudo.js"></script>
      <script type="text/javascript" src="javascripts/selectivizr-min.js"></script>
  %body
    %h1 RubyConf Argentina 2013
    %h2 27 y 28 de Noviembre, Buenos Aires

    %nav
      %a{:href => "http://2011.rubyconfargentina.com", :target => "_blank"}
        %i.icon-globe
        Site 2011
      %a{:href => "http://2012.rubyconfargentina.com", :target => "_blank"}
        %i.icon-globe
        Site 2012
      %a{:href => "https://www.facebook.com/rubyconfar", :target => "_blank"}
        %i.icon-facebook
        Facebook
      %a{:href => "https://twitter.com/rubyconfar", :target => "_blank"}
        %i.icon-twitter
        Twitter


  #speakers
    %h2 Speakers
    %ul
      %li
        %img{:src=>"https://si0.twimg.com/profile_images/2036233722/Photo_19_bigger.jpeg"}
        %h3
          %a{:href=>"https://twitter.com/sintaxi", :target =>"_blank"}
            %i.icon-twitter
            Brock Whitten
        %h4 Harp platform
        
      %li
        %img{:src=>"https://si0.twimg.com/profile_images/344513261583569696/4369b741eabc5d292c8d14910ed16ef2_bigger.jpeg"}
        %h3
          %a{:href=>"https://twitter.com/tef", :target =>"_blank"}
            %i.icon-twitter
            Thomas Edward Figg
        %h4 Code Club

      %li
        %img{:src=>"https://si0.twimg.com/profile_images/308430528/me_bigger.jpg"}
        %h3
          %a{:href=>"https://twitter.com/cherkaos", :target =>"_blank"}
            %i.icon-twitter
            Ostap Cherkashin
        %h4 Mingle

      %li
        %img{:src=>"https://si0.twimg.com/profile_images/3761141739/75eb7a0c6b5f1a9f7da287e1f92d351c_bigger.jpeg"}
        %h3
          %a{:href=>"https://twitter.com/janogonzalez", :target =>"_blank"}
            %i.icon-twitter
            Jano González
        %h4 HopIn

      %li
        %img{:src=>"https://si0.twimg.com/profile_images/1620908040/image_bigger.jpg"}
        %h3
          %a{:href=>"https://twitter.com/hyper_linda", :target =>"_blank"}
            %i.icon-twitter
            Linda Sandvik
        %h4 Code Club




